In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("proj2.ipynb")

# Project 2: Query Performance
## Due Date: Thursday, October 5th, 5:00 PM

## Assignment Details
In this project, we will explore how the database system optimizes query execution and how users can futher tune the performance of their queries.

This project works with the Lahman's Baseball Database, an open source collection of baseball statistics from 1871 to 2020. It contains a variety of data, like batting statistics, team stats, managerial records, Hall of Fame records, and much more.

You may find this project's queries to be simpler than in Project 1. However, although the queries may not be as complex, we still expect you to spend ample time thinking through the effects of each of the methods, as reasoning about the tradeoff between different approaches is the goal of this assignment.

**Note:** If at any point during the project, the internal state of the database or its tables have been modified in an undesirable way (i.e. a modification not resulting from the instructions of a question), restart your kernel and clear output and simply re-run the notebook as normal. This will shutdown you current connection to the database, which will prevent the issue of multiple connections to the database at any given point, and when re-running the notebook you will create a fresh database based on the provided Postgres dump.

## Logistics & Scoring Breakdown

- Each coding question has **both public tests and hidden tests**. Roughly 50% of your coding grade will be made up of your score on the public tests released to you, while the remaining 50% will be made up of unreleased hidden tests.
- Public tests for multiple choice questions are for sanity check only (e.g. you are answering in the correct format). Partial credit will be awarded.
- Free-response questions will be manually graded. Please answer thoughtfully and concisely in complete sentences, drawing from knowledge in lectures and from your inspection of query plans.

This is an **individual project**. However, you’re welcome to collaborate with any other student in the class as long as it’s within the academic honesty guidelines.


| Question    | 0 | 1 | 2              | 3    | 4    | 5              | 6              | 7    | 8              | 9        | 10        |
| ----------- | - | - | -------------- | ---- | ---- | -------------- | -------------- | ---- | -------------- | -------- | --------- |
| No Subparts | 1 |   |                |      |      |                |                |      |                |          | 6         |
| a           |   | 1 | 1              | 1    | 1    | 2              | 2              | 2    | 1              | 1        |           |
| b           |   | 3 | 3              | 1    | 1    | 1              | 2              | 1    | 1              | 1        |           |
| c           |   |   | 1              | m: 2 | 1    | 1              | 1              | m: 3 | 1              | 2 (m: 2) |           |
| d           |   |   | 4 (m: 2, a: 2) | m: 2 | m: 3 | 4 (m: 2, a: 2) | 1              |      | 4 (m: 2, a: 2) |          |           |
| e           |   |   |                |      |      |                | 4 (m: 2, a: 2) |      |                |          |           |
| **Total**       | 1 | 4 | 9              | 6    | 6    | 8              | 10             | 6    | 7              | 4        | manual: 6 |


**Grand Total:** 67 points (manual: 26, autograded: 41)

In [2]:
# Run this cell to set up imports
import numpy as np
import pandas as pd

## Getting Connected
Similar to Project 1, we will be using the `JupySQL` library to connect this notebook to a PostgreSQL database server on your JupyterHub account. Run the following cell to initiate the connection.

In [3]:
%reload_ext sql
%sql postgresql://jovyan@127.0.0.1:5432/postgres

In [4]:
# See full display
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

## Setting up the Database
The following cell will create the `baseball` database (if needed), unzip the Postgres dump of the Lahman's Baseball Database, populate the `baseball` database with the desired tables and data, and finally display all databases associated with the Postgres instance. After running the cell, you should see the `baseball` database in the generated list of databases outputted by `%sql \l`.

**Note:** If you run into the **role does not exist**/**database does not exist** error the first time you run this cell, feel free to ignore it. It does not affect data import.

In [5]:
!unzip -u data/baseball.zip -d data/

Archive:  data/baseball.zip

In [6]:
!psql postgresql://jovyan@127.0.0.1:5432/baseball -c 'SELECT pg_terminate_backend(pg_stat_activity.pid) FROM pg_stat_activity WHERE datname = current_database()  AND pid <> pg_backend_pid();'
!psql -h localhost -c 'DROP DATABASE IF EXISTS baseball'
!psql -h localhost -c 'CREATE DATABASE baseball'
!psql -h localhost -d baseball -f data/baseball.sql
!psql -h localhost -c 'SET max_parallel_workers_per_gather = 0;'
%sql \l

 pg_terminate_backend
----------------------
(0 rows)

DROP DATABASE
CREATE DATABASE
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
SET
SET
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
COPY 5219
COPY 104256
COPY 179
COPY 6236
COPY 425
COPY 6879
COPY 104324
COPY 13943
COPY 17350
COPY 138838
COPY 12028
COPY 31955
COPY 13110
COPY 4191
COPY 3040
COPY 3469
COPY 93
COPY 252
COPY 19370
COPY 45806
COPY 5445
COPY 26428
COPY 1207
COPY 325
COPY 2865
COPY 120
COPY 52
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
SET

Running query in 'postgresql://jovyan@127.0.0.1:5432/postgres'

+-------------------+--------+----------+------------+------------+-------------------+
|        Name       | Owner  | Encoding |  Collate   |   Ctype    | Access privileges |
+-------------------+--------+----------+------------+------------+-------------------+
|      baseball     | jovyan |   UTF8   | en_US.utf8 | en_US.utf8 |        None       |
|        imdb       | jovyan |   UTF8   | en_US.utf8 | en_US.utf8 |        None       |
| imdb_perf_lecture | jovyan |   UTF8   | en_US.utf8 | en_US.utf8 |        None       |
|       jovyan      | jovyan |   UTF8   | en_US.utf8 | en_US.utf8 |        None       |
|      postgres     | jovyan |   UTF8   | en_US.utf8 | en_US.utf8 |        None       |
|     template0     | jovyan |   UTF8   | en_US.utf8 | en_US.utf8 |     =c/jovyan     |
|                   |        |          |            |            | jovyan=CTc/jovyan |
|     template1     | jovyan |   UTF8   | en_US.utf8 | en_US.utf8 |     =c/jovyan     |
|                   |        |          |            |            | jovyan=CTc/jovyan |
+-------------------+--------+----------+------------+------------+-------------------+

Now, run the following cell to connect to the `baseball` database. There should be no errors after running the following cell.

In [7]:
%sql postgresql://jovyan@127.0.0.1:5432/baseball

Connecting and switching to connection postgresql://jovyan@127.0.0.1:5432/baseball

To ensure that the connection to the database has been established, let's try grabbing the first 5 rows from the `halloffame` table.

In [8]:
%%sql
SELECT * FROM halloffame LIMIT 5

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

5 rows affected.

+-----------+--------+---------+---------+--------+-------+----------+----------+-------------+
|  playerid | yearid | votedby | ballots | needed | votes | inducted | category | needed_note |
+-----------+--------+---------+---------+--------+-------+----------+----------+-------------+
|  cobbty01 |  1936  |  BBWAA  |   226   |  170   |  222  |    Y     |  Player  |     None    |
|  ruthba01 |  1936  |  BBWAA  |   226   |  170   |  215  |    Y     |  Player  |     None    |
| wagneho01 |  1936  |  BBWAA  |   226   |  170   |  215  |    Y     |  Player  |     None    |
| mathech01 |  1936  |  BBWAA  |   226   |  170   |  205  |    Y     |  Player  |     None    |
| johnswa01 |  1936  |  BBWAA  |   226   |  170   |  189  |    Y     |  Player  |     None    |
+-----------+--------+---------+---------+--------+-------+----------+----------+-------------+

## Connect to the grader

Run the following cell for grading purposes.

In [9]:
# Just run the following cell, no further action is needed.
from data101_utils import GradingUtil
grading_util = GradingUtil("proj2")
grading_util.prepare_autograder()

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Table Descriptions
In its entirety the Lahman's Baseball Database contains 27 tables containing a variety of statistics for players, teams, games, schools, etc. For simplicity, this project will focus on a subset of the tables:
* `appearances`: details on the positions each player appeared at
* `batting`: batting statistics for each player
* `collegeplaying`: list of players and the colleges they attended
* `halloffame`: Hall of Fame voting data
* `people`: player information (name, date of birth, and biographical info)
* `salaries`: player salary data
* `schools`: list of colleges that players attended

As a reminder from Project 1, `%sql \d <table_name>` is helpful for identifying the columns in a table.

<br><br>
<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Question 0: PostgreSQL Explain Analyze
**Please read through this section carefully, as a vast majority of the project will require you to inspect query plans via interpreting the output of the explain analyze command.**

To inspect the query plan for a given query, create a variable storing the query as a string and invoke a `psql` shell command to `explain analyze` the query: 

`your_query_str = "__REPLACE_ME_WITH_QUERY__"`

`!psql -h localhost -d baseball -c "explain analyze $your_query_str"`

Take a look at the following sample query plan.

![title](data/sample_query.png)

It is highly recommended to read through [this article](https://www.cybertec-postgresql.com/en/how-to-interpret-postgresql-explain-analyze-output/) and the postgreSQL [documentation 14.1.2](https://www.postgresql.org/docs/current/using-explain.html#USING-EXPLAIN-ANALYZE) to see how you can interpret the output above. Everything before "Tools to interpret Explain Analyze output" is useful.


<div class="alert alert-block alert-info">
Here are some key things to note for all question parts:
<ul>
<li>When we ask you to identify the <b>query cost</b>, we are looking for the <b>total cost</b>.</li>
    <ul>
    <li>There are two cost values: the first is the <b>startup cost</b> (cost to return the first row) and the second is the <b>total cost</b> (cost to return all rows).</li>
    <li>The unit for the estimated query cost is an arbitrary estimation of disk I/O (1 is the cost for reading an 8kB page during a sequential scan).</li>
        <li>Feel free to round the query cost / time to the nearest integer, but we'll accept anything more exact.</li>
    </ul>
<li>When we ask you to identify the <b>query time</b>, we are looking for the <b>execution time</b> (in ms).</li>
    <ul>
        <li>We recognize that the execution time may vary between different cell executions, so the autograder will tolerate a reasonable range.</li>
    </ul>
</ul>
</div>

Now, inspect the query plan above by following the below steps:

1. Manually copy the entire query command (i.e., `SELECT ... `) from the screenshot into the cell below.

SELECT * FROM people AS p INNER JOIN collegeplaying AS cp ON p.playerid = cp.playerid

In [10]:
%%sql --save query_0 result_0 <<
SELECT * FROM people AS p INNER JOIN collegeplaying AS cp ON p.playerid = cp.playerid;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

17350 rows affected.

In [11]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_0 = %sqlcmd snippets query_0
grading_util.save_results("result_0", query_0, result_0);
result_0.DataFrame().head(3)

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,...,height,bats,throws,debut,finalgame,retroid,bbrefid,playerid,schoolid,yearid
0,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,rice,2003
1,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,rice,2002
2,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,pennst,2001

In [12]:
%sql EXPLAIN ANALYZE {{query_0}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

8 rows affected.

+----------------------------------------------------------------------------------------------------------------------------------+
|                                                            QUERY PLAN                                                            |
+----------------------------------------------------------------------------------------------------------------------------------+
|              Hash Join  (cost=503.38..1562.91 rows=17350 width=1719) (actual time=6.672..21.973 rows=17350 loops=1)              |
|                                       Hash Cond: ((p.playerid)::text = (cp.playerid)::text)                                      |
|         ->  Seq Scan on people p  (cost=0.00..619.70 rows=19370 width=1698) (actual time=0.011..3.222 rows=19370 loops=1)        |
|                 ->  Hash  (cost=286.50..286.50 rows=17350 width=21) (actual time=6.526..6.529 rows=17350 loops=1)                |
|                                             Buckets: 32768  Batches: 1  Memory Usage: 1203kB                                     |
|         ->  Seq Scan on collegeplaying cp  (cost=0.00..286.50 rows=17350 width=21) (actual time=0.005..1.841 rows=17350 loops=1) |
|                                                     Planning Time: 0.216 ms                                                      |
|                                                    Execution Time: 23.057 ms                                                     |
+----------------------------------------------------------------------------------------------------------------------------------+

In [13]:
sample_query_cost = 1193
sample_query_timing = 27

In [14]:
grader.check("q0")

q0 results: All test cases passed!

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 1: Queries and Views, Part 1

In Questions 1 and 2, you will compare and contrast writing queries with subqueries and views.

## Question 1a
Write a query that finds `namefirst`, `namelast`, `playerid` and `yearid` of all people who were successfully inducted into the Hall of Fame. **Note**: Your query should **NOT** use any sub-queries.

In [15]:
%%sql --save query_1a result_1a <<
SELECT p.namefirst, p.namelast, p.playerid, h.yearid
FROM people AS p
INNER JOIN halloffame AS h
ON p.playerid = h.playerid
WHERE inducted = 'Y';

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

323 rows affected.

In [16]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_1a = %sqlcmd snippets query_1a
grading_util.save_results("result_1a", query_1a, result_1a)
result_1a.DataFrame().head(3)

  namefirst namelast   playerid  yearid
0        Ty     Cobb   cobbty01    1936
1      Babe     Ruth   ruthba01    1936
2     Honus   Wagner  wagneho01    1936

In [17]:
grader.check("q1a")

q1a results: All test cases passed!

<br><br>

---

## Question 1b
In this question, we will compare the query you wrote in `Question 1a` against the provided query below in `Question 1bi` by inspecting both query plans.

#### Question 1bi: 
Inspect the query plan for `provided_query` and the query you wrote in `Question 1a` by running the cells below.

In [18]:
%%sql --save provided_query result_provided <<
-- just run this cell
SELECT namefirst, namelast, p.playerid, yearid
FROM people AS p, (SELECT * FROM halloffame WHERE inducted = 'Y') AS hof 
WHERE p.playerid = hof.playerid;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

323 rows affected.

In [19]:
# just run this cell 
provided_query = %sqlcmd snippets provided_query
%sql EXPLAIN ANALYZE {{provided_query.strip(';')}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

8 rows affected.

+--------------------------------------------------------------------------------------------------------------------------------+
|                                                           QUERY PLAN                                                           |
+--------------------------------------------------------------------------------------------------------------------------------+
|                 Nested Loop  (cost=0.29..262.79 rows=21 width=278) (actual time=0.042..2.455 rows=323 loops=1)                 |
|           ->  Seq Scan on halloffame  (cost=0.00..96.39 rows=21 width=42) (actual time=0.018..0.677 rows=323 loops=1)          |
|                                                 Filter: ((inducted)::text = 'Y'::text)                                         |
|                                                      Rows Removed by Filter: 3868                                              |
|   ->  Index Scan using master_pkey on people p  (cost=0.29..7.92 rows=1 width=274) (actual time=0.005..0.005 rows=1 loops=323) |
|                                      Index Cond: ((playerid)::text = (halloffame.playerid)::text)                              |
|                                                    Planning Time: 0.178 ms                                                     |
|                                                    Execution Time: 2.497 ms                                                    |
+--------------------------------------------------------------------------------------------------------------------------------+

In [20]:
# just run this cell
%sql EXPLAIN ANALYZE {{query_1a}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

8 rows affected.

+--------------------------------------------------------------------------------------------------------------------------------+
|                                                           QUERY PLAN                                                           |
+--------------------------------------------------------------------------------------------------------------------------------+
|                 Nested Loop  (cost=0.29..262.79 rows=21 width=278) (actual time=0.044..3.138 rows=323 loops=1)                 |
|          ->  Seq Scan on halloffame h  (cost=0.00..96.39 rows=21 width=42) (actual time=0.018..0.954 rows=323 loops=1)         |
|                                                 Filter: ((inducted)::text = 'Y'::text)                                         |
|                                                      Rows Removed by Filter: 3868                                              |
|   ->  Index Scan using master_pkey on people p  (cost=0.29..7.92 rows=1 width=274) (actual time=0.006..0.006 rows=1 loops=323) |
|                                          Index Cond: ((playerid)::text = (h.playerid)::text)                                   |
|                                                    Planning Time: 0.174 ms                                                     |
|                                                    Execution Time: 3.188 ms                                                    |
+--------------------------------------------------------------------------------------------------------------------------------+

Record the **execution time** and **cost** for each query.

In [21]:
provided_query_cost = 959
provided_query_timing = 15
your_query_cost = 959
your_query_timing = 15

In [22]:
grader.check("q1bi")

q1bi results: All test cases passed!


#### Question 1bii:
Given your findings from inspecting the query plans of the two queries, answer the following question. Assign the variable `q1b_part2` to a list of all of the below statements that are true.


Consider the following statements:
<br>
A. Both the queries have the same cost
<br>
B. The provided query has a faster execution time because it makes use of a subquery.
<br>
C. The query you wrote has a faster execution time because it does not make use a subquery.
<br>
D. The provided query has less cost because it makes use of a subquery.
<br>
E. The query you wrote has less cost because it does not make use a subquery.
<br>
F. The queries have the same output.
<br>
G. The queries do not have the same output.
    
**Note:** Your answer should look like `q1b_part2 = ['A', 'B']`

In [23]:
q1b_part2 = ['A', 'F']

In [24]:
grader.check("q1bii")

q1bii results: All test cases passed!

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


# Question 2: Queries and Views, Part 2

In this question, you will continue analyzing queries with/without views and materialized views.
* Question 2a: Write a query that computes people in a Hall of Fame.
* Question 2 Tutorial: Use this query to create a view called `inducted_hof_ca` and a materialized view, `inducted_hof_ca_mat`.
* Question 2b: Write three queries that achieve the same result:
  * Question 2bi: One that uses no views.
  * Question 2bii: One that uses the `inducted_hof_ca` view.
  * Question 2ciii: One that uses the `inducted_hof_ca_mat` materialized view.
* Question 2c: Record the performance of these three queries.
* Question 2d: Analyze and discuss using queries with different types of views.

<br/><br/>

---

## Question 2a

Write a query that returns the people who were successfully inducted into the Hall of Fame and played in college at a school located in California. For each player, return their `namefirst`, `namelast`, `playerid`, `schoolid`, and `yearid` ordered by the `yearid` and then the `playerid`. 

**Note**: For this query, `yearid` refers to player's year of induction into the Hall of Fame.

In [25]:
%%sql --save query_2a result_2a <<
SELECT p.namefirst, p.namelast, p.playerid, s.schoolid, hof.yearid
FROM people AS p, 
    (SELECT schools.schoolid AS schoolid, 
            collegeplaying.playerid AS playerid 
        FROM schools, collegeplaying 
        WHERE schools.schoolid = collegeplaying.schoolid 
                AND schoolstate ='CA') AS s, 
    (SELECT * FROM halloffame WHERE inducted ='Y') AS hof
WHERE p.playerid = s.playerid AND hof.playerid = p.playerid
ORDER BY yearid, playerid;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

23 rows affected.

In [26]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_2a = %sqlcmd snippets query_2a
grading_util.save_results("result_2a", query_2a, result_2a)
result_2a

+-----------+----------+-----------+------------+--------+
| namefirst | namelast |  playerid |  schoolid  | yearid |
+-----------+----------+-----------+------------+--------+
|   Jackie  | Robinson | robinja02 |    ucla    |  1962  |
|   Harry   |  Hooper  | hoopeha01 | stmarysca  |  1971  |
|    Joe    |  Morgan  | morgajo02 |  camerri   |  1990  |
|    Tom    |  Seaver  | seaveto01 |  cafrecc   |  1992  |
|    Tom    |  Seaver  | seaveto01 |    usc     |  1992  |
|   Ozzie   |  Smith   | smithoz01 |  calpoly   |  2002  |
|   Ozzie   |  Smith   | smithoz01 |  calpoly   |  2002  |
|   Ozzie   |  Smith   | smithoz01 |  calpoly   |  2002  |
|   Ozzie   |  Smith   | smithoz01 |  calpoly   |  2002  |
|    Tony   |  Gwynn   | gwynnto01 | sandiegost |  2007  |
|    Tony   |  Gwynn   | gwynnto01 | sandiegost |  2007  |
|    Tony   |  Gwynn   | gwynnto01 | sandiegost |  2007  |
|    Dick   | Williams | willidi02 |  capasad   |  2008  |
|    Doug   |  Harvey  | harvedo99 | sandiegost |  2010  |
|    Doug   |  Harvey  | harvedo99 | sandiegost |  2010  |
|    Pat    | Gillick  | gillipa99 |  calavco   |  2011  |
|    Pat    | Gillick  | gillipa99 |    usc     |  2011  |
|    Pat    | Gillick  | gillipa99 |    usc     |  2011  |
|   Randy   | Johnson  | johnsra05 |    usc     |  2015  |
|   Randy   | Johnson  | johnsra05 |    usc     |  2015  |
|   Randy   | Johnson  | johnsra05 |    usc     |  2015  |
|   Trevor  | Hoffman  | hoffmtr01 |  cacypre   |  2018  |
|   Trevor  | Hoffman  | hoffmtr01 |  cacypre   |  2018  |
+-----------+----------+-----------+------------+--------+

In [27]:
grader.check("q2a")

q2a results: All test cases passed!

<br/><br/>

---

## Question 2 Tutorial

We are now going to use the query you wrote in the previous part to generate a view, called `inducted_hof_ca`, and a materialized view, `inducted_hof_ca_mat`.

Run the below cells. You do not need to do anything more for this part. 

(Note: the semicolon strip is to avoid executing an empty query with double-semicolons, which causes an error.)

In [28]:
%%sql
/* just run this cell */
DROP VIEW IF EXISTS inducted_hof_ca;
CREATE VIEW inducted_hof_ca AS {{query_2a.strip(';')}};
SELECT * FROM inducted_hof_ca;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

23 rows affected.

+-----------+----------+-----------+------------+--------+
| namefirst | namelast |  playerid |  schoolid  | yearid |
+-----------+----------+-----------+------------+--------+
|   Jackie  | Robinson | robinja02 |    ucla    |  1962  |
|   Harry   |  Hooper  | hoopeha01 | stmarysca  |  1971  |
|    Joe    |  Morgan  | morgajo02 |  camerri   |  1990  |
|    Tom    |  Seaver  | seaveto01 |  cafrecc   |  1992  |
|    Tom    |  Seaver  | seaveto01 |    usc     |  1992  |
|   Ozzie   |  Smith   | smithoz01 |  calpoly   |  2002  |
|   Ozzie   |  Smith   | smithoz01 |  calpoly   |  2002  |
|   Ozzie   |  Smith   | smithoz01 |  calpoly   |  2002  |
|   Ozzie   |  Smith   | smithoz01 |  calpoly   |  2002  |
|    Tony   |  Gwynn   | gwynnto01 | sandiegost |  2007  |
|    Tony   |  Gwynn   | gwynnto01 | sandiegost |  2007  |
|    Tony   |  Gwynn   | gwynnto01 | sandiegost |  2007  |
|    Dick   | Williams | willidi02 |  capasad   |  2008  |
|    Doug   |  Harvey  | harvedo99 | sandiegost |  2010  |
|    Doug   |  Harvey  | harvedo99 | sandiegost |  2010  |
|    Pat    | Gillick  | gillipa99 |  calavco   |  2011  |
|    Pat    | Gillick  | gillipa99 |    usc     |  2011  |
|    Pat    | Gillick  | gillipa99 |    usc     |  2011  |
|   Randy   | Johnson  | johnsra05 |    usc     |  2015  |
|   Randy   | Johnson  | johnsra05 |    usc     |  2015  |
|   Randy   | Johnson  | johnsra05 |    usc     |  2015  |
|   Trevor  | Hoffman  | hoffmtr01 |  cacypre   |  2018  |
|   Trevor  | Hoffman  | hoffmtr01 |  cacypre   |  2018  |
+-----------+----------+-----------+------------+--------+

In [29]:
%%sql
/* just run this cell */
DROP MATERIALIZED VIEW IF EXISTS inducted_hof_ca_mat;
CREATE MATERIALIZED VIEW inducted_hof_ca_mat AS {{query_2a.strip(';')}};
SELECT * FROM inducted_hof_ca_mat;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

23 rows affected.

23 rows affected.

+-----------+----------+-----------+------------+--------+
| namefirst | namelast |  playerid |  schoolid  | yearid |
+-----------+----------+-----------+------------+--------+
|   Jackie  | Robinson | robinja02 |    ucla    |  1962  |
|   Harry   |  Hooper  | hoopeha01 | stmarysca  |  1971  |
|    Joe    |  Morgan  | morgajo02 |  camerri   |  1990  |
|    Tom    |  Seaver  | seaveto01 |  cafrecc   |  1992  |
|    Tom    |  Seaver  | seaveto01 |    usc     |  1992  |
|   Ozzie   |  Smith   | smithoz01 |  calpoly   |  2002  |
|   Ozzie   |  Smith   | smithoz01 |  calpoly   |  2002  |
|   Ozzie   |  Smith   | smithoz01 |  calpoly   |  2002  |
|   Ozzie   |  Smith   | smithoz01 |  calpoly   |  2002  |
|    Tony   |  Gwynn   | gwynnto01 | sandiegost |  2007  |
|    Tony   |  Gwynn   | gwynnto01 | sandiegost |  2007  |
|    Tony   |  Gwynn   | gwynnto01 | sandiegost |  2007  |
|    Dick   | Williams | willidi02 |  capasad   |  2008  |
|    Doug   |  Harvey  | harvedo99 | sandiegost |  2010  |
|    Doug   |  Harvey  | harvedo99 | sandiegost |  2010  |
|    Pat    | Gillick  | gillipa99 |  calavco   |  2011  |
|    Pat    | Gillick  | gillipa99 |    usc     |  2011  |
|    Pat    | Gillick  | gillipa99 |    usc     |  2011  |
|   Randy   | Johnson  | johnsra05 |    usc     |  2015  |
|   Randy   | Johnson  | johnsra05 |    usc     |  2015  |
|   Randy   | Johnson  | johnsra05 |    usc     |  2015  |
|   Trevor  | Hoffman  | hoffmtr01 |  cacypre   |  2018  |
|   Trevor  | Hoffman  | hoffmtr01 |  cacypre   |  2018  |
+-----------+----------+-----------+------------+--------+

<br/><br/>

---
### Question 2b

For this question, we want to compute the count of players who were inducted into the Hall of Fame and played baseball at a college in California for each `schoolid` and `yearid` combination ordered by ascending `yearid`.

You should write three queries that accomplish this task, but with different strategies:
* Question 2bi: Use the `inducted_hof_ca` view;
* Question 2bii Use the `inducted_hof_ca_mat` view; and
* Question 2biii: Do not use `inducted_hof_ca` view, `inducted_hof_ca_mat` materialized view, any common table expressions (CTEs), nor any subqueries.

### Question 2bi

Write a query to accomplish the task above using the `inducted_hof_ca` view. Assign your result to `result_2b_view`.

In [30]:
%%sql --save query_2b_view result_2b_view <<
SELECT schoolid, yearid, COUNT(*)
FROM inducted_hof_ca
GROUP BY schoolid, yearid
ORDER BY yearid ASC;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

13 rows affected.

In [31]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_2b_view = %sqlcmd snippets query_2b_view
grading_util.save_results("result_2b_view", query_2b_view, result_2b_view)
result_2b_view

+------------+--------+-------+
|  schoolid  | yearid | count |
+------------+--------+-------+
|    ucla    |  1962  |   1   |
| stmarysca  |  1971  |   1   |
|  camerri   |  1990  |   1   |
|  cafrecc   |  1992  |   1   |
|    usc     |  1992  |   1   |
|  calpoly   |  2002  |   4   |
| sandiegost |  2007  |   3   |
|  capasad   |  2008  |   1   |
| sandiegost |  2010  |   2   |
|  calavco   |  2011  |   1   |
|    usc     |  2011  |   2   |
|    usc     |  2015  |   3   |
|  cacypre   |  2018  |   2   |
+------------+--------+-------+

In [32]:
grader.check("q2bi")

q2bi results: All test cases passed!

<br/><br/>

#### Question 2bii:

Now, write the query a second time to use the materialized view `inducted_hof_ca_mat`. Assign your result to `result_2b_mat`.

In [33]:
%%sql --save query_2b_mat result_2b_mat <<
SELECT schoolid, yearid, COUNT(*)
FROM inducted_hof_ca_mat
GROUP BY schoolid, yearid
ORDER BY yearid ASC;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

13 rows affected.

In [34]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_2b_mat = %sqlcmd snippets query_2b_mat
grading_util.save_results("result_2b_mat", query_2b_mat, result_2b_mat)
result_2b_mat

+------------+--------+-------+
|  schoolid  | yearid | count |
+------------+--------+-------+
|    ucla    |  1962  |   1   |
| stmarysca  |  1971  |   1   |
|  camerri   |  1990  |   1   |
|  cafrecc   |  1992  |   1   |
|    usc     |  1992  |   1   |
|  calpoly   |  2002  |   4   |
| sandiegost |  2007  |   3   |
|  capasad   |  2008  |   1   |
| sandiegost |  2010  |   2   |
|  calavco   |  2011  |   1   |
|    usc     |  2011  |   2   |
|    usc     |  2015  |   3   |
|  cacypre   |  2018  |   2   |
+------------+--------+-------+

In [35]:
grader.check("q2bii")

q2bii results: All test cases passed!

<br/><br/>

#### Question 2biii:

Finally, write the query a third time to **not** use the `inducted_hof_ca` view, nor the `inducted_hof_ca_mat` materialized view, nor any common table expressions (CTEs), nor any subqueries. Save your result in `result_2b_no_view`.

In [36]:
%%sql --save query_2b_no_view result_2b_no_view <<
SELECT c.schoolid, hof.yearid, COUNT(*)
FROM collegeplaying AS c, schools AS s, halloffame AS hof
WHERE c.schoolid = s.schoolid 
        AND c.playerid = hof.playerid
        AND s.schoolstate = 'CA'
        AND hof.inducted = 'Y'
GROUP BY c.schoolid, hof.yearid
ORDER BY hof.yearid ASC

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

13 rows affected.

In [37]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_2b_no_view = %sqlcmd snippets query_2b_no_view
grading_util.save_results("result_2b_no_view", query_2b_no_view, result_2b_no_view)
result_2b_no_view

+------------+--------+-------+
|  schoolid  | yearid | count |
+------------+--------+-------+
|    ucla    |  1962  |   1   |
| stmarysca  |  1971  |   1   |
|  camerri   |  1990  |   1   |
|  cafrecc   |  1992  |   1   |
|    usc     |  1992  |   1   |
|  calpoly   |  2002  |   4   |
| sandiegost |  2007  |   3   |
|  capasad   |  2008  |   1   |
| sandiegost |  2010  |   2   |
|  calavco   |  2011  |   1   |
|    usc     |  2011  |   2   |
|    usc     |  2015  |   3   |
|  cacypre   |  2018  |   2   |
+------------+--------+-------+

In [38]:
grader.check("q2biii")

q2biii results: All test cases passed!

<br/><br/>

---

### Question 2c
Inspect the query plans for the three queries you wrote above by running the following cells.

In [39]:
# just run this cell
%sql EXPLAIN ANALYZE {{query_2b_view}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

27 rows affected.

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                      QUERY PLAN                                                                                      |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                           GroupAggregate  (cost=197.22..197.25 rows=1 width=60) (actual time=3.827..3.841 rows=13 loops=1)                                           |
|                                                              Group Key: inducted_hof_ca.yearid, inducted_hof_ca.schoolid                                                             |
|                                               ->  Sort  (cost=197.22..197.23 rows=1 width=52) (actual time=3.819..3.823 rows=23 loops=1)                                             |
|                                                                  Sort Key: inducted_hof_ca.yearid, inducted_hof_ca.schoolid                                                          |
|                                                                             Sort Method: quicksort  Memory: 26kB                                                                     |
|                                    ->  Subquery Scan on inducted_hof_ca  (cost=197.20..197.21 rows=1 width=52) (actual time=3.799..3.808 rows=23 loops=1)                            |
|                                                    ->  Sort  (cost=197.20..197.20 rows=1 width=326) (actual time=3.797..3.800 rows=23 loops=1)                                       |
|                                                                                 Sort Key: halloffame.yearid, p.playerid                                                              |
|                                                                                   Sort Method: quicksort  Memory: 26kB                                                               |
|                                                     ->  Nested Loop  (cost=0.85..197.19 rows=1 width=326) (actual time=1.258..3.697 rows=23 loops=1)                                 |
|                                                        ->  Nested Loop  (cost=0.56..196.77 rows=1 width=99) (actual time=1.236..3.527 rows=23 loops=1)                               |
|                                                          ->  Nested Loop  (cost=0.29..180.16 rows=55 width=59) (actual time=0.084..2.898 rows=137 loops=1)                           |
|                                                        ->  Seq Scan on halloffame  (cost=0.00..96.39 rows=21 width=42) (actual time=0.031..1.009 rows=323 loops=1)                   |
|                                                                                              Filter: ((inducted)::text = 'Y'::text)                                                  |
|                                                                                                   Rows Removed by Filter: 3868                                                       |
|                                       ->  Index Only Scan using collegeplaying_pkey on collegeplaying  (cost=0.29..3.96 rows=3 width=17) (actual time=0.005..0.005 rows=0 loops=323) |
|                                                                                       Index Cond: (playerid = (halloffame.playerid)::text)                                           |
|                                                                                                         Heap Fetches: 0                                                              |
|                                             ->  Index Scan using schools_pkey on schools  (cost=0.28..0.30 rows=1 width=48) (actual time=0.004..0.004 rows=0 loops=137)              |
|                                                                              Index Cond: ((schoolid)::text = (collegeplaying.schoolid)::text)                                        |
|                                                                                         Filter: ((schoolstate)::text = 'CA'::text)                                                   |
|                                                                                                 Rows Removed by Filter: 1                                                            |
|                                        ->  Index Only Scan using master_pkey on people p  (cost=0.29..0.42 rows=1 width=38) (actual time=0.007..0.007 rows=1 loops=23)               |
|                                                                               Index Cond: (playerid = (collegeplaying.playerid)::text)                                               |
|                                                                                                   Heap Fetches: 23                                                                   |
|                                                                               Planning Time: 0.850 ms                                                                                |
|                                                                               Execution Time: 3.913 ms                                                                               |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [40]:
# just run this cell
%sql EXPLAIN ANALYZE {{query_2b_mat}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

9 rows affected.

+------------------------------------------------------------------------------------------------------------------------------+
|                                                          QUERY PLAN                                                          |
+------------------------------------------------------------------------------------------------------------------------------+
|                    Sort  (cost=23.67..24.17 rows=200 width=60) (actual time=0.045..0.047 rows=13 loops=1)                    |
|                                                        Sort Key: yearid                                                      |
|                                              Sort Method: quicksort  Memory: 25kB                                            |
|              ->  HashAggregate  (cost=14.03..16.02 rows=200 width=60) (actual time=0.030..0.035 rows=13 loops=1)             |
|                                                     Group Key: yearid, schoolid                                              |
|                                                    Batches: 1  Memory Usage: 40kB                                            |
|         ->  Seq Scan on inducted_hof_ca_mat  (cost=0.00..12.30 rows=230 width=52) (actual time=0.007..0.010 rows=23 loops=1) |
|                                                   Planning Time: 0.094 ms                                                    |
|                                                   Execution Time: 0.081 ms                                                   |
+------------------------------------------------------------------------------------------------------------------------------+

In [41]:
# just run this cell
%sql EXPLAIN ANALYZE {{query_2b_no_view}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

19 rows affected.

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                              QUERY PLAN                                                                              |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                  GroupAggregate  (cost=196.78..196.80 rows=1 width=20) (actual time=16.678..16.692 rows=13 loops=1)                                  |
|                                                                   Group Key: hof.yearid, c.schoolid                                                                  |
|                                      ->  Sort  (cost=196.78..196.78 rows=1 width=12) (actual time=16.669..16.672 rows=23 loops=1)                                    |
|                                                                       Sort Key: hof.yearid, c.schoolid                                                               |
|                                                                     Sort Method: quicksort  Memory: 26kB                                                             |
|                                       ->  Nested Loop  (cost=0.56..196.77 rows=1 width=12) (actual time=1.189..16.648 rows=23 loops=1)                               |
|                                         ->  Nested Loop  (cost=0.29..180.16 rows=55 width=12) (actual time=0.058..2.866 rows=137 loops=1)                            |
|                                     ->  Seq Scan on halloffame hof  (cost=0.00..96.39 rows=21 width=42) (actual time=0.016..0.999 rows=323 loops=1)                  |
|                                                                             Filter: ((inducted)::text = 'Y'::text)                                                   |
|                                                                                  Rows Removed by Filter: 3868                                                        |
|                     ->  Index Only Scan using collegeplaying_pkey on collegeplaying c  (cost=0.29..3.96 rows=3 width=17) (actual time=0.005..0.005 rows=0 loops=323) |
|                                                                         Index Cond: (playerid = (hof.playerid)::text)                                                |
|                                                                                        Heap Fetches: 0                                                               |
|                           ->  Index Scan using schools_pkey on schools s  (cost=0.28..0.30 rows=1 width=48) (actual time=0.100..0.100 rows=0 loops=137)              |
|                                                                   Index Cond: ((schoolid)::text = (c.schoolid)::text)                                                |
|                                                                        Filter: ((schoolstate)::text = 'CA'::text)                                                    |
|                                                                                Rows Removed by Filter: 1                                                             |
|                                                                       Planning Time: 0.394 ms                                                                        |
|                                                                      Execution Time: 16.742 ms                                                                       |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------+

Then, record the execution time and cost for each query.

In [42]:
with_view_cost = 326
with_view_timing = 6
with_materialized_view_cost = 24
with_materialized_view_timing = 0.08
without_view_cost = 423
without_view_timing = 17

In [43]:
grader.check("q2c")

q2c results: All test cases passed!

<br/><br/>

---

## Question 2d

Given your findings from inspecting the query plans in this Question, as well as your understanding of views and materialized views from lectures, discuss the takeaways of using views and materialized views.

### Question 2di

Assign the variable `q2di` to a list of all of the below statements that are true.

A. Views will reduce the execution time and the cost of a query.<br/>
B. Views will reduce the execution time of a query, but not the cost.<br/>
C. Views will reduce the cost of a query, but not the execution time.<br/>
D. Materialized views reduce the execution time and the cost of a query.<br/>
E. Materialized views reduce the execution time, but not cost of a query<br/>
F. Materialized views reduce the cost of a query, but not the execution time.<br/>
G. Materialized views will result in the same query plan as a query using views.<br/>
H. Materialized views and views take the same time to create.<br/>
I. Materialized views take less time to create than a view.<br/>
J. Materialized views take more time to create than a view.<br/>
    
*Note:* Your answer should look like `q2di = ['A', 'B']`

In [44]:
q2di = ['A', 'D', 'I']

In [45]:
grader.check("q2di")

q2di results: All test cases passed!

<!-- BEGIN QUESTION -->

#### Question 2dii:

Explain your answer to the previous part (Question 2di) based on your knowledge from lectures and details from the query plans. Your explanation should also include why you didn't choose certain options. Please answer in maximum 5 sentences.

Because views and materialized views help us utilize pre-run queries rather than query from the base tables, they will reduce both cost and execution time compared to without views (option A and D). Additionally, materialized views are stored on disk and do not need to run again whenever it is called unline views (run on demand), materialized views take less time to create than a view.

<!-- END QUESTION -->

<br><br>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 3: Predicate Pushdown
In this question, we will explore the impact of predicates (i.e., filters) on a query's execution, particularly inspecting when the optimizer applies predicates.

* Question 3a: Compute a query with all rows.
* Question 3b: Add a simple filter.
* Question 3c: Analyze the tradeoffs to cost.
* Question 3d: Analyze the tradeoffs to execution time.


## Question 3a:
Recall the `inducted_hof_ca` view created in `Question 2`. Inspect the query plan for a query that that gets all rows from the view, and record the execution time and cost using an `EXPLAIN ANALYZE` command.

In [46]:
%%sql
EXPLAIN ANALYZE SELECT * FROM inducted_hof_ca

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

20 rows affected.

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                             QUERY PLAN                                                                             |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                     Sort  (cost=197.20..197.20 rows=1 width=326) (actual time=12.515..12.520 rows=23 loops=1)                                      |
|                                                               Sort Key: halloffame.yearid, p.playerid                                                              |
|                                                                 Sort Method: quicksort  Memory: 26kB                                                               |
|                                  ->  Nested Loop  (cost=0.85..197.19 rows=1 width=326) (actual time=1.074..12.490 rows=23 loops=1)                                 |
|                                      ->  Nested Loop  (cost=0.56..196.77 rows=1 width=99) (actual time=1.048..12.307 rows=23 loops=1)                              |
|                                        ->  Nested Loop  (cost=0.29..180.16 rows=55 width=59) (actual time=0.054..11.716 rows=137 loops=1)                          |
|                                      ->  Seq Scan on halloffame  (cost=0.00..96.39 rows=21 width=42) (actual time=0.014..0.859 rows=323 loops=1)                   |
|                                                                            Filter: ((inducted)::text = 'Y'::text)                                                  |
|                                                                                 Rows Removed by Filter: 3868                                                       |
|                     ->  Index Only Scan using collegeplaying_pkey on collegeplaying  (cost=0.29..3.96 rows=3 width=17) (actual time=0.033..0.033 rows=0 loops=323) |
|                                                                     Index Cond: (playerid = (halloffame.playerid)::text)                                           |
|                                                                                       Heap Fetches: 0                                                              |
|                           ->  Index Scan using schools_pkey on schools  (cost=0.28..0.30 rows=1 width=48) (actual time=0.004..0.004 rows=0 loops=137)              |
|                                                            Index Cond: ((schoolid)::text = (collegeplaying.schoolid)::text)                                        |
|                                                                       Filter: ((schoolstate)::text = 'CA'::text)                                                   |
|                                                                               Rows Removed by Filter: 1                                                            |
|                        ->  Index Scan using master_pkey on people p  (cost=0.29..0.42 rows=1 width=274) (actual time=0.007..0.007 rows=1 loops=23)                 |
|                                                         Index Cond: ((playerid)::text = (collegeplaying.playerid)::text)                                           |
|                                                                      Planning Time: 0.726 ms                                                                       |
|                                                                     Execution Time: 12.572 ms                                                                      |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [47]:
query_view_cost = 326
query_view_timing = 3.6

In [48]:
grader.check("q3a")

q3a results: All test cases passed!

<br><br>

---

## Question 3b:
Now, add a filter to only return rows from `inducted_hof_ca` where the year is later than 2010. Inspect the query plan and record the execution time and cost.

In [49]:
%%sql
EXPLAIN ANALYZE SELECT * FROM inducted_hof_ca WHERE yearid > 2010

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

20 rows affected.

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                             QUERY PLAN                                                                            |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                       Sort  (cost=143.33..143.33 rows=1 width=326) (actual time=1.136..1.139 rows=8 loops=1)                                      |
|                                                               Sort Key: halloffame.yearid, p.playerid                                                             |
|                                                                 Sort Method: quicksort  Memory: 25kB                                                              |
|                                   ->  Nested Loop  (cost=0.85..143.32 rows=1 width=326) (actual time=0.728..1.121 rows=8 loops=1)                                 |
|                                       ->  Nested Loop  (cost=0.56..142.90 rows=1 width=99) (actual time=0.713..1.061 rows=8 loops=1)                              |
|                                         ->  Nested Loop  (cost=0.29..137.45 rows=18 width=59) (actual time=0.684..0.912 rows=27 loops=1)                          |
|                                       ->  Seq Scan on halloffame  (cost=0.00..106.86 rows=7 width=42) (actual time=0.640..0.698 rows=31 loops=1)                  |
|                                                                 Filter: ((yearid > 2010) AND ((inducted)::text = 'Y'::text))                                      |
|                                                                                 Rows Removed by Filter: 4160                                                      |
|                     ->  Index Only Scan using collegeplaying_pkey on collegeplaying  (cost=0.29..4.34 rows=3 width=17) (actual time=0.006..0.006 rows=1 loops=31) |
|                                                                     Index Cond: (playerid = (halloffame.playerid)::text)                                          |
|                                                                                       Heap Fetches: 0                                                             |
|                            ->  Index Scan using schools_pkey on schools  (cost=0.28..0.30 rows=1 width=48) (actual time=0.005..0.005 rows=0 loops=27)             |
|                                                            Index Cond: ((schoolid)::text = (collegeplaying.schoolid)::text)                                       |
|                                                                       Filter: ((schoolstate)::text = 'CA'::text)                                                  |
|                                                                               Rows Removed by Filter: 1                                                           |
|                         ->  Index Scan using master_pkey on people p  (cost=0.29..0.42 rows=1 width=274) (actual time=0.006..0.006 rows=1 loops=8)                |
|                                                         Index Cond: ((playerid)::text = (collegeplaying.playerid)::text)                                          |
|                                                                      Planning Time: 0.869 ms                                                                      |
|                                                                      Execution Time: 1.235 ms                                                                     |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [50]:
query_view_with_filter_cost = 186
query_view_with_filter_timing = 1.4

In [51]:
grader.check("q3b")

q3b results: All test cases passed!

<!-- BEGIN QUESTION -->

## Question 3c:
Given your findings from inspecting the query plans of queries from Questions 3a and 3b, fill in the blank and **justify your answer**. Explain your answer based on your knowledge from lectures, and details from the query plans (your explanation should include why you didn't choose other options). Your response should be no longer than 3 sentences.

**Note:** Your answer should be formatted as follows: `A because ...`

**Adding a filter ___ the cost.**
<br>
A. increased
<br>
B. decreased
<br>
C. did not change

B because adding a filter will remove more rows from a relation; hence, lower cost when scanning the relation.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<br><br>

---

## Question 3d:
Given your findings from inspecting the query plans of queries from Questions 3a and 3b, fill in the blank and **justify your answer**. Explain your answer based on your knowledge from lectures, and details from the query plans (your explanation should include why you didn't choose other options). Your response should be no longer than 3 sentences.

**Note:** Your answer should be formatted as follows: `A because ...`

**Adding a filter ___ the execution time.**
<br>
A. increased
<br>
B. decreased
<br>
C. did not change

B because adding a filter will remove more rows from a relation; similarly to 3c, lower execution time when scanning the relation.

<!-- END QUESTION -->

<br><br>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 4: Join Approaches

In this question, we'll explore different join approaches (Nested Loop Join, Merge Join, Hash Join) and discuss how the query optimizer picks the best approach.

<br/><br/>

---

## Question 4a
Perform an inner join on the `people` and `collegeplaying` tables on the `playerid` column. Project all columns.

In [52]:
%%sql --save query_4a result_4a <<
SELECT * 
FROM people As p
    INNER JOIN collegeplaying AS c
    ON p.playerid = c.playerid;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

17350 rows affected.

In [53]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_4a = %sqlcmd snippets query_4a
grading_util.save_results("result_4a", query_4a, result_4a);

display(result_4a.DataFrame().head(3))
%sql EXPLAIN ANALYZE {{query_4a}}

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,...,height,bats,throws,debut,finalgame,retroid,bbrefid,playerid,schoolid,yearid
0,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,rice,2003
1,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,rice,2002
2,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,pennst,2001

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

8 rows affected.

+---------------------------------------------------------------------------------------------------------------------------------+
|                                                            QUERY PLAN                                                           |
+---------------------------------------------------------------------------------------------------------------------------------+
|              Hash Join  (cost=503.38..1562.91 rows=17350 width=1719) (actual time=6.467..22.702 rows=17350 loops=1)             |
|                                        Hash Cond: ((p.playerid)::text = (c.playerid)::text)                                     |
|         ->  Seq Scan on people p  (cost=0.00..619.70 rows=19370 width=1698) (actual time=0.010..3.267 rows=19370 loops=1)       |
|                 ->  Hash  (cost=286.50..286.50 rows=17350 width=21) (actual time=6.399..6.402 rows=17350 loops=1)               |
|                                             Buckets: 32768  Batches: 1  Memory Usage: 1203kB                                    |
|         ->  Seq Scan on collegeplaying c  (cost=0.00..286.50 rows=17350 width=21) (actual time=0.005..1.874 rows=17350 loops=1) |
|                                                     Planning Time: 0.198 ms                                                     |
|                                                    Execution Time: 23.712 ms                                                    |
+---------------------------------------------------------------------------------------------------------------------------------+

Run the cell above to inspect the query plan for your command.

**Which join approach did the query optimizer choose?** 

A. Nested Loop Join<br/>
B. Merge Join<br/>
C. Hash Join<br/>
D. None of the Above

Assign the variable `q4a` to the correct letter choice above, e.g., `q4a = 'A'`.

In [54]:
q4a = 'C'

In [55]:
grader.check("q4a")

q4a results: All test cases passed!

<br><br>

---

## Question 4b

Similar to Question 4a, perform an inner join on the `people` and `collegeplaying` tables on the `playerid` column. Project all columns.

In addition, **sort your output by `playerid`.**

In [56]:
%%sql --save query_4b result_4b <<
SELECT * 
FROM people AS p
INNER JOIN collegeplaying AS c
    ON p.playerid = c.playerid
ORDER BY p.playerid;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

17350 rows affected.

In [57]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_4b = %sqlcmd snippets query_4b
grading_util.save_results("result_4b", query_4b, result_4b);

display(result_4b.DataFrame().head(3))
%sql EXPLAIN ANALYZE {{query_4b}}

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,...,height,bats,throws,debut,finalgame,retroid,bbrefid,playerid,schoolid,yearid
0,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,pennst,2001
1,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,rice,2002
2,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,aardsda01,rice,2003

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

7 rows affected.

+------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                         QUERY PLAN                                                                         |
+------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                           Merge Join  (cost=0.57..3184.67 rows=17350 width=1719) (actual time=0.042..27.449 rows=17350 loops=1)                            |
|                                                    Merge Cond: ((p.playerid)::text = (c.playerid)::text)                                                   |
|            ->  Index Scan using master_pkey on people p  (cost=0.29..2298.84 rows=19370 width=1698) (actual time=0.020..5.569 rows=19368 loops=1)          |
|   ->  Index Only Scan using collegeplaying_pkey on collegeplaying c  (cost=0.29..620.54 rows=17350 width=21) (actual time=0.016..3.320 rows=17350 loops=1) |
|                                                                          Heap Fetches: 0                                                                   |
|                                                                  Planning Time: 0.209 ms                                                                   |
|                                                                 Execution Time: 28.361 ms                                                                  |
+------------------------------------------------------------------------------------------------------------------------------------------------------------+

Run the cell above to inspect the query plan for your command.

**Which join approach did the query optimizer choose?** 

A. Nested Loop Join<br/>
B. Merge Join<br/>
C. Hash Join<br/>
D. None of the Above

Assign the variable `q4b` to the correct letter choice above, e.g., `q4b = 'A'`.

In [58]:
q4b = 'B'

In [59]:
grader.check("q4b")

q4b results: All test cases passed!

<br><br>

---
## Question 4c
Write a query to retrieve all possible player pair combinations. Project all columns, but **limit to 1000 rows** to ensure your query doesn't take an exorbitant amount of time to run.

**Hint:** You can do this by performing an inner join of the `people` table on itself with an inequality condition.

In [60]:
%%sql --save query_4c result_4c <<
SELECT *
FROM people As p1
INNER JOIN people AS p2
ON p1.playerid != p2.playerid
LIMIT 1000;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

1000 rows affected.

In [61]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_4c = %sqlcmd snippets query_4c
grading_util.save_results("result_4c", query_4c, result_4c);

display(result_4c.DataFrame().head(3))
%sql EXPLAIN ANALYZE {{query_4c}}

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,...,namelast,namegiven,weight,height,bats,throws,debut,finalgame,retroid,bbrefid
0,aardsda01,1981,12,27,USA,CO,Denver,None,None,None,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
1,aardsda01,1981,12,27,USA,CO,Denver,None,None,None,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
2,aardsda01,1981,12,27,USA,CO,Denver,None,None,None,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

8 rows affected.

+---------------------------------------------------------------------------------------------------------------------------+
|                                                         QUERY PLAN                                                        |
+---------------------------------------------------------------------------------------------------------------------------+
|                Limit  (cost=0.00..44.50 rows=1000 width=3396) (actual time=0.022..0.910 rows=1000 loops=1)                |
|       ->  Nested Loop  (cost=0.00..16694169.95 rows=375177530 width=3396) (actual time=0.021..0.816 rows=1000 loops=1)    |
|                                     Join Filter: ((p1.playerid)::text <> (p2.playerid)::text)                             |
|                                                   Rows Removed by Join Filter: 1                                          |
|           ->  Seq Scan on people p1  (cost=0.00..619.70 rows=19370 width=1698) (actual time=0.012..0.012 rows=1 loops=1)  |
|         ->  Seq Scan on people p2  (cost=0.00..619.70 rows=19370 width=1698) (actual time=0.002..0.163 rows=1001 loops=1) |
|                                                  Planning Time: 0.168 ms                                                  |
|                                                  Execution Time: 0.998 ms                                                 |
+---------------------------------------------------------------------------------------------------------------------------+

Run the cell above to inspect the query plan for your command.

**Which join approach did the query optimizer choose?** 

A. Nested Loop Join<br/>
B. Merge Join<br/>
C. Hash Join<br/>
D. None of the Above

Assign the variable `q4c` to the correct letter choice above, e.g., `q4c = 'A'`.

In [62]:
q4c = 'A'

In [63]:
grader.check("q4c")

q4c results: All test cases passed!

<!-- BEGIN QUESTION -->

<br><br>

---
## Question 4d

Given your findings above, why did the query optimizer ultimately choose the specific join approach you found in each of the above three scenarios in Questions 4a, 4b, and 4c? Feel free to discuss the pros and cons of each join approach as well.

If you feel stuck, here are some things to consider: Does a non-equijoin constrain us to certain join approaches? What's an added benefit in regards to the output of merge join?

**Note:** Your answer should be formatted as follows: `Q4a: A because ... Q4b: A because ...` You should write no more than 5 sentences.

Q4a: C Hash Join because we are doing equijoin on two large tables. Q4b: B Merge-Join because we want our output to be sorted, so the merged-join already sort the relation for us while doing the join, we don't have to do additional sort. Q4c: A Nested Loop Join because the non-equijoin constrains us from using hash join, so the nested-loop is the optimal solution here.

<!-- END QUESTION -->

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 5: Indexes, Part 1

In Questions 5, 6, and 7, you will analyze how indexes impact query performance.

Question 5:
* Question 5a: Write a query.
* Question 5b: Add an index with a particular index key and reanalyze the previous query's performance.
* Question 5c: Add an index with a different key and reanalyze the previous query's performance.

<br/>

---

## Question 5a
Write a query that outputs the `playerid` and average `salary` for each player that only batted in 10 games (the number of games in which a player batted can be found in the `g_batting` column of the `appearances` table). Your query should join the `salaries` and `appearances` table on all the common columns `yearid`, `teamid`, and `playerid`, so feel free to use a natural join.

In [64]:
%%sql --save query_5a result_5a <<
SELECT a.playerid, AVG(s.salary)
FROM appearances AS a
NATURAL JOIN salaries AS s
WHERE a.g_batting = 10
GROUP BY a.playerid;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

134 rows affected.

In [65]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_5a = %sqlcmd snippets query_5a
grading_util.save_results("result_5a", query_5a, result_5a);

display(result_5a.DataFrame().head(3))
%sql EXPLAIN ANALYZE {{query_5a}}

    playerid       avg
0  anderla02  240000.0
1  ashbyan01  109000.0
2  ayraubo01  125000.0

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

15 rows affected.

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                   QUERY PLAN                                                                                   |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                     GroupAggregate  (cost=3635.08..3635.11 rows=1 width=17) (actual time=18.652..18.708 rows=134 loops=1)                                      |
|                                                                              Group Key: a.playerid                                                                             |
|                                         ->  Sort  (cost=3635.08..3635.09 rows=1 width=17) (actual time=18.643..18.651 rows=138 loops=1)                                        |
|                                                                                  Sort Key: a.playerid                                                                          |
|                                                                          Sort Method: quicksort  Memory: 35kB                                                                  |
|                                          ->  Hash Join  (cost=2898.30..3635.07 rows=1 width=17) (actual time=11.769..18.527 rows=138 loops=1)                                  |
|               Hash Cond: ((s.yearid = a.yearid) AND ((s.teamid)::text = (a.teamid)::text) AND ((s.lgid)::text = (a.lgid)::text) AND ((s.playerid)::text = (a.playerid)::text)) |
|                                      ->  Seq Scan on salaries s  (cost=0.00..459.28 rows=26428 width=78) (actual time=0.014..1.965 rows=26428 loops=1)                         |
|                                             ->  Hash  (cost=2873.20..2873.20 rows=1255 width=20) (actual time=11.607..11.608 rows=1347 loops=1)                                |
|                                                                           Buckets: 2048  Batches: 1  Memory Usage: 89kB                                                        |
|                                        ->  Seq Scan on appearances a  (cost=0.00..2873.20 rows=1255 width=20) (actual time=0.009..11.166 rows=1347 loops=1)                    |
|                                                                                         Filter: (g_batting = 10)                                                               |
|                                                                                      Rows Removed by Filter: 102909                                                            |
|                                                                            Planning Time: 0.351 ms                                                                             |
|                                                                           Execution Time: 18.766 ms                                                                            |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

Inspect the query plan above and record the execution time and cost.

In [66]:
result_5a_cost = 3638
result_5a_timing = 43.7

In [67]:
grader.check("q5a")

q5a results: All test cases passed!

<br><br>

---
## Question 5b

Add an index with name `g_batting_idx` on the `g_batting` column of the `appearances` table.

In [68]:
%%sql
DROP INDEX IF EXISTS g_batting_idx;
CREATE INDEX g_batting_idx ON appearances(g_batting);

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

Now, re-inspect the query plan of the query from `Question 5a` and record its execution time and cost.

In [69]:
# just run this cell
%sql EXPLAIN ANALYZE {{query_5a}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

17 rows affected.

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                   QUERY PLAN                                                                                   |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                     GroupAggregate  (cost=2349.55..2349.57 rows=1 width=17) (actual time=15.997..16.084 rows=134 loops=1)                                      |
|                                                                              Group Key: a.playerid                                                                             |
|                                         ->  Sort  (cost=2349.55..2349.55 rows=1 width=17) (actual time=15.983..15.997 rows=138 loops=1)                                        |
|                                                                                  Sort Key: a.playerid                                                                          |
|                                                                          Sort Method: quicksort  Memory: 35kB                                                                  |
|                                          ->  Hash Join  (cost=1612.76..2349.54 rows=1 width=17) (actual time=2.705..15.804 rows=138 loops=1)                                   |
|               Hash Cond: ((s.yearid = a.yearid) AND ((s.teamid)::text = (a.teamid)::text) AND ((s.lgid)::text = (a.lgid)::text) AND ((s.playerid)::text = (a.playerid)::text)) |
|                                      ->  Seq Scan on salaries s  (cost=0.00..459.28 rows=26428 width=78) (actual time=0.011..3.403 rows=26428 loops=1)                         |
|                                              ->  Hash  (cost=1587.66..1587.66 rows=1255 width=20) (actual time=2.441..2.443 rows=1347 loops=1)                                 |
|                                                                           Buckets: 2048  Batches: 1  Memory Usage: 89kB                                                        |
|                                    ->  Bitmap Heap Scan on appearances a  (cost=18.02..1587.66 rows=1255 width=20) (actual time=0.273..1.845 rows=1347 loops=1)                |
|                                                                                      Recheck Cond: (g_batting = 10)                                                            |
|                                                                                          Heap Blocks: exact=899                                                                |
|                                        ->  Bitmap Index Scan on g_batting_idx  (cost=0.00..17.71 rows=1255 width=0) (actual time=0.151..0.152 rows=1347 loops=1)               |
|                                                                                          Index Cond: (g_batting = 10)                                                          |
|                                                                            Planning Time: 0.569 ms                                                                             |
|                                                                           Execution Time: 16.156 ms                                                                            |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [70]:
result_5b_cost = 2396
result_5b_timing = 16.2

In [71]:
grader.check("q5b")

q5b results: All test cases passed!

In the following question, we will explore adding a different index and evaluating the query from `Question 4a`. To avoid any interference by the `g_batting_idx` index, **drop the index before moving onto the next question.**

In [72]:
# you must run this cell!!!
%sql DROP INDEX IF EXISTS g_batting_idx;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

<br><br>

---
## Question 5c

Write a query to add an index with name `salary_idx` on the `salary` column of the `salaries` table. Make sure to drop the previous index in `Question 5b` first!

In [73]:
%%sql
DROP INDEX IF EXISTS g_batting_idx;
DROP INDEX IF EXISTS salary_idx;
CREATE INDEX salary_idx ON salaries(salary);

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

Now, re-inspect the query plan of the query from `Question 5a` and record its execution time and cost.

In [74]:
# just run this cell
%sql EXPLAIN ANALYZE {{query_5a}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

15 rows affected.

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                   QUERY PLAN                                                                                   |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                     GroupAggregate  (cost=3635.08..3635.11 rows=1 width=17) (actual time=25.587..25.644 rows=134 loops=1)                                      |
|                                                                              Group Key: a.playerid                                                                             |
|                                         ->  Sort  (cost=3635.08..3635.09 rows=1 width=17) (actual time=25.577..25.586 rows=138 loops=1)                                        |
|                                                                                  Sort Key: a.playerid                                                                          |
|                                                                          Sort Method: quicksort  Memory: 35kB                                                                  |
|                                          ->  Hash Join  (cost=2898.30..3635.07 rows=1 width=17) (actual time=15.320..25.438 rows=138 loops=1)                                  |
|               Hash Cond: ((s.yearid = a.yearid) AND ((s.teamid)::text = (a.teamid)::text) AND ((s.lgid)::text = (a.lgid)::text) AND ((s.playerid)::text = (a.playerid)::text)) |
|                                      ->  Seq Scan on salaries s  (cost=0.00..459.28 rows=26428 width=78) (actual time=0.016..2.681 rows=26428 loops=1)                         |
|                                             ->  Hash  (cost=2873.20..2873.20 rows=1255 width=20) (actual time=15.148..15.149 rows=1347 loops=1)                                |
|                                                                           Buckets: 2048  Batches: 1  Memory Usage: 89kB                                                        |
|                                        ->  Seq Scan on appearances a  (cost=0.00..2873.20 rows=1255 width=20) (actual time=0.010..14.575 rows=1347 loops=1)                    |
|                                                                                         Filter: (g_batting = 10)                                                               |
|                                                                                      Rows Removed by Filter: 102909                                                            |
|                                                                            Planning Time: 1.822 ms                                                                             |
|                                                                           Execution Time: 25.709 ms                                                                            |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [75]:
result_5c_cost = 3638
result_5c_timing = 32.8

In [76]:
grader.check("q5c")

q5c results: All test cases passed!

<br><br>

---

## Question 5d

Given your findings from inspecting the query plans with no indexes (Question 5a), an index on `g_batting` (Question 5b), and an index on `salary` (Question 5c), assign the variable `q5d` to a list of all of the below statements that are true.

A. Adding the `g_batting` index did not have a significant impact on the query execution time and cost.<br/>
B. Adding the `g_batting` index did have a significant impact on the query execution time, but not the cost.<br/>
C. Adding the `g_batting` index did have a significant impact on the query cost, but not the execution time.<br/>
D. Adding the `g_batting` index did have a significant impact on the query cost and execution time.<br/>
E. Adding the `salary` index did not have a significant impact on the query execution time and cost.<br/>
F. Adding the `salary` index did have a significant impact on the query execution time, but not the cost.<br/>
G. Adding the `salary` index did have a significant impact on the query cost, but not the execution time.<br/>
H. Adding the `salary` index did have a significant impact on the query cost and execution time.

**Note:** Your answer should be formatted as a list of single-character strings, e.g., `q5d = ['A', 'B']`

In [77]:
q5d = ['D','E']

In [78]:
grader.check("q5d")

q5d results: All test cases passed!

<!-- BEGIN QUESTION -->

### Question 5di Justification

Explain your answer to `Question 5d` above based on your knowledge from lectures, and details from inspecting the query plans (your explanation should include why you didn't choose certain options). Your answer should be no longer than 3 sentences.

When we index on g_batting, it will help the filter during joining 2 tables faster by pushing down predicates (g_batting = 10) before joining; hence having significant impact on both query cost and execution time. On the other hand, salary index has no impact on the joining process, so the cost and query time stay the same or has negligible changes.

<!-- END QUESTION -->

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 6: Indexes, Part 2

Continue the analysis on how indexes impact query performance.

Question 6:
* Question 6a: Write a query that uses an **and** boolean operator. Record query performance.
* Question 6b: Write a query that uses an **or** boolean operator. Record query performances.
* Question 6c: Add an index and rerun queries in Questions 6a, 6b. Record query performance.
* Question 6d: Add a multi-attribute index and rerun queries 6a, 6b. Record query performance.
* Question 6e: Analyze query performance; compare and contrast.

Before continuing, make sure to drop all existing indexes from previous questions.

In [79]:
# you must run this cell!!!
%sql DROP INDEX IF EXISTS g_batting_idx;
%sql DROP INDEX IF EXISTS salary_idx;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

<br><br>

---

## Question 6a

Write a query that finds the `playerid`, `yearid`, and `salary` for each player that had played 10 games **and** batted in 10 games (the number of games in which a player played can be found in the `g_all` column of the `appearances` table). Your query should join the `salaries` and `appearances` table on all the common columns `yearid`, `teamid`, and `playerid`, so feel free to use a natural join.

In [80]:
%%sql --save query_6a result_6a <<
SELECT a.playerid, a.yearid, s.salary
FROM appearances AS a
NATURAL JOIN salaries AS s
WHERE a.g_batting = 10 AND a.g_all = 10;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

120 rows affected.

In [81]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_6a = %sqlcmd snippets query_6a
grading_util.save_results("result_6a", query_6a, result_6a);

result_6a.DataFrame().head(3)

    playerid  yearid    salary
0  wiggial01    1985  512500.0
1  anderla02    1986  240000.0
2   lakest01    1986   60000.0

In [82]:
grader.check("q6a")

q6a results: All test cases passed!

Inspect the query plan and record the execution time and cost.

In [83]:
%sql EXPLAIN ANALYZE {{query_6a}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

8 rows affected.

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                             QUERY PLAN                                                                            |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                   Nested Loop  (cost=0.29..3279.47 rows=1 width=21) (actual time=6.807..12.961 rows=120 loops=1)                                  |
|                          ->  Seq Scan on appearances a  (cost=0.00..3133.84 rows=18 width=20) (actual time=0.011..10.171 rows=1289 loops=1)                       |
|                                                                Filter: ((g_batting = 10) AND (g_all = 10))                                                        |
|                                                                       Rows Removed by Filter: 102967                                                              |
|                   ->  Index Scan using salaries_pkey on salaries s  (cost=0.29..8.09 rows=1 width=78) (actual time=0.002..0.002 rows=0 loops=1289)                |
|         Index Cond: ((yearid = a.yearid) AND ((teamid)::text = (a.teamid)::text) AND ((lgid)::text = (a.lgid)::text) AND ((playerid)::text = (a.playerid)::text)) |
|                                                                      Planning Time: 0.274 ms                                                                      |
|                                                                     Execution Time: 12.993 ms                                                                     |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [84]:
result_6a_cost = 3296
result_6a_timing = 25

In [85]:
grader.check("6a_cost")

6a_cost results: All test cases passed!

## Question 6b
Write a query that finds the `playerid`, `yearid`, and `salary` for each player that had played 10 games __or__ batted in 10 games. Your query should join the `salaries` and `appearances` table on all the common columns `yearid`, `teamid`, and `playerid`, so feel free to use a natural join.

In [86]:
%%sql --save query_6b result_6b <<
SELECT a.playerid, a.yearid, s.salary
FROM salaries AS s
NATURAL JOIN appearances AS a
WHERE (a.g_batting = 10 OR a.g_all = 10);

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

216 rows affected.

In [87]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_6b = %sqlcmd snippets query_6b
grading_util.save_results("result_6b", query_6b, result_6b);
result_6b.DataFrame().head(3)

    playerid  yearid    salary
0  wiggial01    1985  512500.0
1  forscke01    1986  100000.0
2  carltst01    1986   60000.0

In [88]:
grader.check("q6b")

q6b results: All test cases passed!

Inspect the query plan and record the execution time and cost.

In [89]:
%sql EXPLAIN ANALYZE {{query_6b}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

10 rows affected.

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                             QUERY PLAN                                                                             |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                  Hash Join  (cost=3188.66..3925.43 rows=1 width=21) (actual time=21.295..35.225 rows=216 loops=1)                                  |
|   Hash Cond: ((s.yearid = a.yearid) AND ((s.teamid)::text = (a.teamid)::text) AND ((s.lgid)::text = (a.lgid)::text) AND ((s.playerid)::text = (a.playerid)::text)) |
|                          ->  Seq Scan on salaries s  (cost=0.00..459.28 rows=26428 width=78) (actual time=0.012..3.425 rows=26428 loops=1)                         |
|                                 ->  Hash  (cost=3133.84..3133.84 rows=2741 width=20) (actual time=20.994..20.997 rows=1655 loops=1)                                |
|                                                               Buckets: 4096  Batches: 1  Memory Usage: 121kB                                                       |
|                            ->  Seq Scan on appearances a  (cost=0.00..3133.84 rows=2741 width=20) (actual time=0.009..20.167 rows=1655 loops=1)                    |
|                                                                    Filter: ((g_batting = 10) OR (g_all = 10))                                                      |
|                                                                          Rows Removed by Filter: 102601                                                            |
|                                                                      Planning Time: 0.282 ms                                                                       |
|                                                                     Execution Time: 35.275 ms                                                                      |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [90]:
result_6b_cost = 3929
result_6b_timing = 35.6

In [91]:
grader.check("6b_cost")

6b_cost results: All test cases passed!

## Question 6c
Now, let's see the impact of adding an index on the `g_batting` column. Create an index on the `g_batting` column. Re-inspect the queries from `Question 6a` and `Question 6b` and record the respective execution costs and times.

In [92]:
%%sql
DROP INDEX IF EXISTS g_batting_idx;
CREATE INDEX g_batting_idx ON appearances(g_batting);

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

In [93]:
# record the updated costs for Question 6a ("and" query)
%sql EXPLAIN ANALYZE {{query_6a}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

12 rows affected.

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                             QUERY PLAN                                                                            |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                   Nested Loop  (cost=18.00..1736.12 rows=1 width=21) (actual time=3.120..7.240 rows=120 loops=1)                                  |
|                      ->  Bitmap Heap Scan on appearances a  (cost=17.71..1590.49 rows=18 width=20) (actual time=0.295..1.933 rows=1289 loops=1)                   |
|                                                                       Recheck Cond: (g_batting = 10)                                                              |
|                                                                            Filter: (g_all = 10)                                                                   |
|                                                                         Rows Removed by Filter: 58                                                                |
|                                                                           Heap Blocks: exact=899                                                                  |
|                         ->  Bitmap Index Scan on g_batting_idx  (cost=0.00..17.71 rows=1255 width=0) (actual time=0.162..0.163 rows=1347 loops=1)                 |
|                                                                           Index Cond: (g_batting = 10)                                                            |
|                   ->  Index Scan using salaries_pkey on salaries s  (cost=0.29..8.09 rows=1 width=78) (actual time=0.003..0.003 rows=0 loops=1289)                |
|         Index Cond: ((yearid = a.yearid) AND ((teamid)::text = (a.teamid)::text) AND ((lgid)::text = (a.lgid)::text) AND ((playerid)::text = (a.playerid)::text)) |
|                                                                      Planning Time: 0.813 ms                                                                      |
|                                                                      Execution Time: 7.290 ms                                                                     |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [94]:
result_6cand_index_cost = 1616
result_6cand_index_timing = 6.1

In [95]:
# record the updated costs for Question 6b ("or" query)
%sql EXPLAIN ANALYZE {{query_6b}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

10 rows affected.

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                             QUERY PLAN                                                                             |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                  Hash Join  (cost=3188.66..3925.43 rows=1 width=21) (actual time=21.756..34.590 rows=216 loops=1)                                  |
|   Hash Cond: ((s.yearid = a.yearid) AND ((s.teamid)::text = (a.teamid)::text) AND ((s.lgid)::text = (a.lgid)::text) AND ((s.playerid)::text = (a.playerid)::text)) |
|                          ->  Seq Scan on salaries s  (cost=0.00..459.28 rows=26428 width=78) (actual time=0.014..3.354 rows=26428 loops=1)                         |
|                                 ->  Hash  (cost=3133.84..3133.84 rows=2741 width=20) (actual time=21.476..21.479 rows=1655 loops=1)                                |
|                                                               Buckets: 4096  Batches: 1  Memory Usage: 121kB                                                       |
|                            ->  Seq Scan on appearances a  (cost=0.00..3133.84 rows=2741 width=20) (actual time=0.010..20.656 rows=1655 loops=1)                    |
|                                                                    Filter: ((g_batting = 10) OR (g_all = 10))                                                      |
|                                                                          Rows Removed by Filter: 102601                                                            |
|                                                                      Planning Time: 0.284 ms                                                                       |
|                                                                     Execution Time: 34.641 ms                                                                      |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [96]:
result_6cor_index_cost = 3929
result_6cor_index_timing = 34.1

In [97]:
grader.check("q6c")

q6c results: All test cases passed!

<br/><br/>

---

## Question 6d: Multiple-attribute index

Now, create a multiple column index on `g_batting` and `g_all` called `g_batting_g_all_idx` and record the query execution time and cost for the "or" command in `Question 6b`.

Before continuing, make sure to drop all existing indexes from previous questions.

In [98]:
# you must run this cell!!!
%sql DROP INDEX IF EXISTS g_batting_idx;
%sql DROP INDEX IF EXISTS salary_idx;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

In [99]:
%%sql 
DROP INDEX IF EXISTS g_batting_all_idx;
CREATE INDEX g_batting_g_all_idx ON appearances(g_batting, g_all);

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

In [100]:
# record the updated costs for Question 6b ("or" query)
%sql EXPLAIN ANALYZE {{query_6b}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

15 rows affected.

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                             QUERY PLAN                                                                             |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                  Hash Join  (cost=2890.60..3627.38 rows=1 width=21) (actual time=3.969..17.378 rows=216 loops=1)                                   |
|   Hash Cond: ((s.yearid = a.yearid) AND ((s.teamid)::text = (a.teamid)::text) AND ((s.lgid)::text = (a.lgid)::text) AND ((s.playerid)::text = (a.playerid)::text)) |
|                          ->  Seq Scan on salaries s  (cost=0.00..459.28 rows=26428 width=78) (actual time=0.011..3.937 rows=26428 loops=1)                         |
|                                  ->  Hash  (cost=2835.78..2835.78 rows=2741 width=20) (actual time=3.719..3.723 rows=1655 loops=1)                                 |
|                                                               Buckets: 4096  Batches: 1  Memory Usage: 121kB                                                       |
|                       ->  Bitmap Heap Scan on appearances a  (cost=1181.29..2835.78 rows=2741 width=20) (actual time=1.166..3.010 rows=1655 loops=1)               |
|                                                                 Recheck Cond: ((g_batting = 10) OR (g_all = 10))                                                   |
|                                                                             Heap Blocks: exact=1027                                                                |
|                                        ->  BitmapOr  (cost=1181.29..1181.29 rows=2759 width=0) (actual time=0.999..1.001 rows=0 loops=1)                           |
|                            ->  Bitmap Index Scan on g_batting_g_all_idx  (cost=0.00..17.71 rows=1255 width=0) (actual time=0.157..0.157 rows=1347 loops=1)         |
|                                                                                 Index Cond: (g_batting = 10)                                                       |
|                           ->  Bitmap Index Scan on g_batting_g_all_idx  (cost=0.00..1162.21 rows=1505 width=0) (actual time=0.842..0.842 rows=1597 loops=1)        |
|                                                                                   Index Cond: (g_all = 10)                                                         |
|                                                                      Planning Time: 0.485 ms                                                                       |
|                                                                     Execution Time: 17.441 ms                                                                      |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [101]:
result_6d_multiple_col_index_cost = 3617
result_6d_multiple_col_index_timing = 31.6

In [102]:
grader.check("q6d")

q6d results: All test cases passed!

<br/><br/>

---

## Question 6e
Given your findings from inspecting the query plans from all parts of this `Question 6`, assign the variable `q6e` to a list of all below statements that are true.

A. Adding an index on a column used in an AND predicate will reduce the query time, but not the execution cost.<br/>
B. Adding an index on a column used in an AND predicate will reduce the query cost, but not the execution time.<br/>
C. Adding an index on a column used in an AND predicate will reduce the query cost and the execution time.<br/>
D. Adding an index on a column used in an OR predicate will reduce the query time, but not the execution cost.<br/>
E. Adding an index on a column used in an OR predicate will reduce the query cost, but not the execution time.<br/>
F. Adding an index on a column used in an OR predicate will reduce the query cost and the execution time.<br/>
G. Adding a multicolumn index on columns in an OR predicate will reduce the query time, but not the execution cost.<br/>
H. Adding a multicolumn index on columns in an OR predicate will reduce the query cost, but not the execution time.<br/>
I. Adding a multicolumn index on columns in an OR predicate will reduce the query cost and the execution time.

**Note:** Your answer should be formatted as a list of single-character strings, e.g., `q6e = ['A', 'B']`

In [103]:
q6e = ['C','I']

In [104]:
grader.check("q6e")

q6e results: All test cases passed!

<!-- BEGIN QUESTION -->

### Question 6ei Justification

Explain your answer to `Question 6e` above based on your knowledge from lectures, and details from inspecting the query plans (your explanation should include why you didn't choose certain options). Your answer should be no longer than 3 sentences.

When adding an index on an AND predicate, one of the predicate got filtered will also reduce the number of tuples for the second filter; hence, it reduce both query cost and execution time. On the other hand, in OR predicate, adding an index will only impact on one filter while the other filter will essentially scan all the relation; hence the cost and time stay the same. Lastly, adding a multicolumn index on columns that got filtered on both predicates of OR statement, so both of them will effeciently got filtered. Thus, reducing both query cost and execution time.

<!-- END QUESTION -->

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 7: Indexes, Part 3

Continue the analysis on how indexes impact query performance. Now, use aggregators.

Question 7:
* Question 7a: Write two queries that use aggregators. Record query performance.
* Question 7b: Add an index and rerun queries in Questions 7a. Record query performance.
* Question 7c: Analyze query performance; compare and contrast.

Before continuing, make sure to drop all existing indexes from previous questions.

In [105]:
# you must run this cell!!!
%sql DROP INDEX IF EXISTS g_batting_idx;
%sql DROP INDEX IF EXISTS salary_idx;
%sql DROP INDEX IF EXISTS g_batting_all_idx;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

---

## Question 7a

Write 2 queries: one that finds the minimum salary from the salary table `Salaries` and one that finds the average. Inspect the queries' query plans and record their execution times and costs.

Minimum salary:

In [106]:
%%sql --save query_7a_min result_7a_min << 
SELECT MIN(salary)
FROM salaries;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

1 rows affected.

In [107]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_7a_min = %sqlcmd snippets query_7a_min
grading_util.save_results("result_7a_min", query_7a_min, result_7a_min);

display(result_7a_min)
%sql EXPLAIN ANALYZE {{query_7a_min}}

+-----+
| min |
+-----+
| 0.0 |
+-----+

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

4 rows affected.

+------------------------------------------------------------------------------------------------------------------+
|                                                    QUERY PLAN                                                    |
+------------------------------------------------------------------------------------------------------------------+
|            Aggregate  (cost=525.35..525.36 rows=1 width=8) (actual time=8.064..8.066 rows=1 loops=1)             |
|   ->  Seq Scan on salaries  (cost=0.00..459.28 rows=26428 width=8) (actual time=0.014..3.280 rows=26428 loops=1) |
|                                             Planning Time: 0.090 ms                                              |
|                                             Execution Time: 8.093 ms                                             |
+------------------------------------------------------------------------------------------------------------------+

In [108]:
result_7a_min_query_cost = 525.36
result_7a_min_query_timing = 13.5

In [109]:
grader.check("q7a_min")

q7a_min results: All test cases passed!

Average salary:

In [110]:
%%sql --save query_7a_avg result_7a_avg <<
SELECT AVG(salary)
FROM Salaries;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

1 rows affected.

In [111]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_7a_avg = %sqlcmd snippets query_7a_avg
grading_util.save_results("result_7a_avg", query_7a_avg, result_7a_avg);

display(result_7a_avg)
%sql EXPLAIN ANALYZE {{query_7a_avg}}

+-------------------+
|        avg        |
+-------------------+
| 2085634.053125473 |
+-------------------+

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

4 rows affected.

+------------------------------------------------------------------------------------------------------------------+
|                                                    QUERY PLAN                                                    |
+------------------------------------------------------------------------------------------------------------------+
|            Aggregate  (cost=525.35..525.36 rows=1 width=8) (actual time=7.529..7.531 rows=1 loops=1)             |
|   ->  Seq Scan on salaries  (cost=0.00..459.28 rows=26428 width=8) (actual time=0.014..3.196 rows=26428 loops=1) |
|                                             Planning Time: 0.071 ms                                              |
|                                             Execution Time: 7.564 ms                                             |
+------------------------------------------------------------------------------------------------------------------+

In [112]:
result_7a_avg_query_cost = 525.36
result_7a_avg_query_timing = 6.8

In [113]:
grader.check("q7a_avg")

q7a_avg results: All test cases passed!

<br><br>

---
## Question 7b
Create an index on the `salary` column in the `Salaries` table and re-inspect the query plans from the previous part and record the respective execution time and cost.

In [114]:
%%sql 
DROP INDEX IF EXISTS salary_idx;
CREATE INDEX salary_idx ON Salaries(salary);

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

In [115]:
# record the updated costs for "min" query
%sql EXPLAIN ANALYZE {{query_7a_min}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

8 rows affected.

+-----------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                   QUERY PLAN                                                                  |
+-----------------------------------------------------------------------------------------------------------------------------------------------+
|                               Result  (cost=0.35..0.36 rows=1 width=8) (actual time=0.048..0.049 rows=1 loops=1)                              |
|                                                             InitPlan 1 (returns $0)                                                           |
|                               ->  Limit  (cost=0.29..0.35 rows=1 width=8) (actual time=0.045..0.046 rows=1 loops=1)                           |
|           ->  Index Only Scan using salary_idx on salaries  (cost=0.29..1540.47 rows=26296 width=8) (actual time=0.044..0.044 rows=1 loops=1) |
|                                                                Index Cond: (salary IS NOT NULL)                                               |
|                                                                        Heap Fetches: 1                                                        |
|                                                            Planning Time: 0.266 ms                                                            |
|                                                            Execution Time: 0.069 ms                                                           |
+-----------------------------------------------------------------------------------------------------------------------------------------------+

In [116]:
result_7b_min_query_cost = 0.33
result_7b_min_query_timing = 0.1

In [117]:
# record the updated costs for "avg" query
%sql EXPLAIN ANALYZE {{query_7a_avg}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

4 rows affected.

+------------------------------------------------------------------------------------------------------------------+
|                                                    QUERY PLAN                                                    |
+------------------------------------------------------------------------------------------------------------------+
|            Aggregate  (cost=525.35..525.36 rows=1 width=8) (actual time=7.588..7.589 rows=1 loops=1)             |
|   ->  Seq Scan on salaries  (cost=0.00..459.28 rows=26428 width=8) (actual time=0.013..3.266 rows=26428 loops=1) |
|                                             Planning Time: 0.080 ms                                              |
|                                             Execution Time: 7.618 ms                                             |
+------------------------------------------------------------------------------------------------------------------+

In [118]:
result_7b_avg_query_cost = 525.36
result_7b_avg_query_timing = 7.5

In [119]:
grader.check("q7b")

q7b results: All test cases passed!

<!-- BEGIN QUESTION -->

<br><br>

---

## Question 7c
Given your findings from `Question 7`, which of the following statements is true?
<br> A. An index on the column being aggregated in a query will always provide a performance enhancement.
<br> B. A query finding the MIN(salary) will always benefit from an index on salary, but a query finding MAX(salary) will not.
<br> C. A query finding the COUNT(salary) will always benefit from an index on salary, but a query finding AVG(salary) will not.
<br> D. Queries finding the MIN(salary) or MAX(salary) will always benefit from an index on salary, but queries finding AVG(salary) or COUNT(salary) will not.

**Justify your answer.** Explain your answer based on your knowledge from lectures, and details of the query plans (your explanation should include why you didn't choose certain options). Your response should be no longer than 3 sentences.
 
*Note:* Your answer should be formatted as follows: "A because ... "

D because MIN(salary) and MAX(salary) will look up to a specific value, hence benifiting from index while AVG(salary) and COUNT(salary) still scan through all the relation, so the index will not help in this situation (resulting in sequential scan despite having an index).

<!-- END QUESTION -->

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 8: Clustered Indexes
In this question, we will inspect the impact that clustering our data on an index can have on a query's performance.
* Question 8a: query
* Question 8b: cluster index on primary key
* Question 8c: cluster index on different key
* Question 8d: observe and analyze.

Before continuing, make sure to drop all existing indexes from previous questions.

In [120]:
# you must run this cell!!!
%sql DROP INDEX IF EXISTS g_batting_idx;
%sql DROP INDEX IF EXISTS salary_idx;
%sql DROP INDEX IF EXISTS g_batting_all_idx;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

---

## Question 8a

Write a query that finds the `playerid`, `yearid`, `teamid`, and `ab` for all players whose `ab` was above 500. Inspect the query plan and record the execution time and cost.

In [121]:
%%sql --save query_8a result_8a <<
SELECT playerid, yearid, teamid, ab
FROM batting
WHERE ab > 500;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

8839 rows affected.

In [122]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_8a = %sqlcmd snippets query_8a
grading_util.save_results("result_8a", query_8a, result_8a);
result_8a.DataFrame().head(3)

    playerid  yearid teamid   ab
0  dalryab01    1884    CHN  521
1  hornujo01    1884    BSN  518
2  ansonca01    1886    CHN  504

In [123]:
grader.check("q8a")

q8a results: All test cases passed!

Inspect the query plan and record the execution time and cost.

In [124]:
%sql EXPLAIN ANALYZE {{query_8a}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

5 rows affected.

+------------------------------------------------------------------------------------------------------------+
|                                                 QUERY PLAN                                                 |
+------------------------------------------------------------------------------------------------------------+
| Seq Scan on batting  (cost=0.00..2884.05 rows=8839 width=21) (actual time=0.399..19.266 rows=8839 loops=1) |
|                                              Filter: (ab > 500)                                            |
|                                        Rows Removed by Filter: 95485                                       |
|                                          Planning Time: 0.068 ms                                           |
|                                         Execution Time: 19.739 ms                                          |
+------------------------------------------------------------------------------------------------------------+

In [125]:
result_8a_cost = 2884
result_8a_timing = 10.508

In [126]:
grader.check("8a_cost")

8a_cost results: All test cases passed!

<br><br>

---

## Question 8b

Cluster the `batting` table on its primary key (hint: use the psql meta-command `\di` to find out what name of the primary key is). We are able to directly cluster on the primary key (without first creating a separate index) because Postgres automatically creates an index for it.

Then, re-inspect the query plan for the query from `Question 8a` and record the execution time and cost.

In [127]:
%%sql
CLUSTER batting_pkey ON batting;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

In [128]:
# check the updated costs for query in Question 8a
%sql EXPLAIN ANALYZE {{query_8a}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

5 rows affected.

+------------------------------------------------------------------------------------------------------------+
|                                                 QUERY PLAN                                                 |
+------------------------------------------------------------------------------------------------------------+
| Seq Scan on batting  (cost=0.00..2878.05 rows=8839 width=21) (actual time=0.014..31.033 rows=8839 loops=1) |
|                                              Filter: (ab > 500)                                            |
|                                        Rows Removed by Filter: 95485                                       |
|                                          Planning Time: 0.261 ms                                           |
|                                         Execution Time: 31.509 ms                                          |
+------------------------------------------------------------------------------------------------------------+

In [129]:
result_8b_cost = 2878
result_8b_timing = 14

In [130]:
grader.check("q8b")

q8b results: All test cases passed!

<br><br>

---

## Question 8c

Now, let's try clustering the table based on another index. Create an index on `ab` column called `ab_idx` in the `batting` table AND cluster the `batting` table with this new index. Now, re-inspect the query plan and record the execution time and cost.

In [131]:
%%sql --save query_8c result_8c <<
DROP INDEX IF EXISTS ab_idx;
CREATE INDEX ab_idx ON Batting(ab);
CLUSTER ab_idx ON batting;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

In [132]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_8c = %sqlcmd snippets query_8c
grading_util.save_results("result_8c", query_8c, result_8c);

# check the updated costs for query in Question 8a
%sql EXPLAIN ANALYZE {{query_8a}}

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

7 rows affected.

+----------------------------------------------------------------------------------------------------------------------+
|                                                      QUERY PLAN                                                      |
+----------------------------------------------------------------------------------------------------------------------+
| Bitmap Heap Scan on batting  (cost=100.79..1786.28 rows=8839 width=21) (actual time=0.387..2.829 rows=8839 loops=1)  |
|                                                Recheck Cond: (ab > 500)                                              |
|                                                 Heap Blocks: exact=135                                               |
|   ->  Bitmap Index Scan on ab_idx  (cost=0.00..98.59 rows=8839 width=0) (actual time=0.363..0.364 rows=8839 loops=1) |
|                                                    Index Cond: (ab > 500)                                            |
|                                               Planning Time: 0.265 ms                                                |
|                                               Execution Time: 3.294 ms                                               |
+----------------------------------------------------------------------------------------------------------------------+

In [133]:
result_8c_cost = 1785
result_8c_timing = 3.142

In [134]:
grader.check("q8c")

q8c results: All test cases passed!

<br><br>

---

## Question 8d
Given your findings from inspecting the query plans from Questions 8a, 8b, and 8c, assign the variable `q8d` to a list of all statements that are true.

A. Clustering based on the `ab_idx` decreased the cost of the query.<br/>
B. Clustering based on the `ab_idx` increased the cost of the query.<br/>
C. Clustering based on the `ab_idx` increased the execution time of the query.<br/>
D. Clustering based on the `ab_idx` decreased the execution time of the query.<br/>
E. Clustering based on the `batting_pkey` decreased the cost of the query.<br/>
F. Clustering based on the `batting_pkey` increased the cost of the query.<br/>
G. Clustering based on the `batting_pkey` increased the execution time of the query.<br/>
H. Clustering based on the `batting_pkey` decreased the execution time of the query.<br/>
I. None of the above
    
**Note:** Your answer should be formatted as a list of single-character strings, e.g., `q8d = ['A', 'B']`.

In [135]:
q8d = ['A','D']

In [136]:
grader.check("q8d")

q8d results: All test cases passed!

<br><br>

---

### Question 8di Justification

Explain your answer to `Question 8d` above based on your knowledge from lectures, and details from inspecting the query plans (your explanation should include why you didn't choose certain options). Your answer should be no longer than 3 sentences.

Because the batting_pkey does not affect our query at all, clustering on this index will not change anything, thus it does not change query cost and execution time. On the other hand, clustering on ab_idx will rearrange our relation based on this column, so if we look up for a range of ab values, it will help to identify the location to start and end. Hence it will decrease both query cost and execution time.

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 9: Cost of Index Management
Until now, we have seen the positive potential impact that indexes can have on query performance, but remember in real world technologies/applications, we will be routinely receiving new data (and in large quantities) which would trigger regular updates to our tables. In this section, we will dive into the cost of managing the indexes that we create.

Before starting this question, be sure to delete any indexes by running the below cell.

In [137]:
# you must run this cell!!!
%sql DROP INDEX IF EXISTS g_batting_idx;
%sql DROP INDEX IF EXISTS salary_idx;
%sql DROP INDEX IF EXISTS g_batting_all_idx;
%sql DROP INDEX IF EXISTS ab_idx;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

---

## Question 9a

Record the time it takes to insert 300,000 rows into the `salaries` table when no additional index is configured.

Run the following cell to setup a column to track which rows we added as part of these inserts.

In [138]:
%sql ALTER TABLE salaries ADD added boolean DEFAULT False;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

Next, run the provided update script and record the **wall time**.

**NOTE:** Running the below cell multiple times may result in an error, unless you first delete the rows with the cell given at the end of this subpart.

In [139]:
%%time
%%sql
DO $$
 DECLARE counter INTEGER := 1;
 BEGIN
     FOR counter IN 100001..400000 LOOP
     INSERT INTO salaries (yearid, teamid, lgid, playerid, salary, added)
         VALUES (2021, 'ATL', 'NL', 'p' || counter, RANDOM() * 1000000, true);
     END LOOP;
END;
$$;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

CPU times: user 18.5 ms, sys: 4.86 ms, total: 23.4 ms
Wall time: 4.86 s

In [140]:
result_9a_timing = 2.88

In [141]:
grader.check("q9a")

q9a results: All test cases passed!

<br/><br/>

**Before moving onto the next question**,  delete all the rows that were added to the table from the update script.

In [142]:
%%sql
/* just run this cell */
DELETE FROM salaries
WHERE added = 'true';

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

300000 rows affected.

++
||
++
++

<br><br>

---

## Question 9b

Now, create an index on the `salary` column and record the **wall time** after executing the update script. Make sure to first run the previous cell to rollback any changes from the previous part!

In [143]:
%%sql 
DROP INDEX IF EXISTS salary_idx;
CREATE INDEX salary_idx ON Salaries(salary);

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

++
||
++
++

**NOTE:** Running the below cell multiple times may result in an error, unless you first delete the rows with the cell given at the end of last subpart.

In [144]:
%%time
%%sql
DO $$
 DECLARE counter INTEGER := 1;
 BEGIN
     FOR counter IN 100001..400000 LOOP
     INSERT INTO salaries (yearid, teamid, lgid, playerid, salary, added)
         VALUES (2021, 'ATL', 'NL', 'p' || counter, RANDOM() * 1000000, true);
     END LOOP;
END;
$$;

Running query in 'postgresql://jovyan@127.0.0.1:5432/baseball'

CPU times: user 23.4 ms, sys: 1.11 ms, total: 24.5 ms
Wall time: 8.39 s

In [145]:
result_9b_timing = 4.37

In [146]:
grader.check("q9b")

q9b results: All test cases passed!

<!-- BEGIN QUESTION -->

<br><br>

---

## Question 9c:
What difference did you notice when you added an index into the salaries table and re-timed the update? Why do you think it happened? Your answer should be no longer than 3 sentences.

When adding an index into the salaries table, the query time increases because the new information has to be written into both relations and indexes.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Question 10: Project Takeaways

In this project, we explored how the database system optimizes query execution and how users can futher tune the performance of their queries.

Familiarizing yourself with these optimization and tuning methods will make you a better data engineer. In this question, we'll ask you to recall and summarize these concepts. Who knows? Maybe one day it will help you during an interview or on a project.

In the following answer cell,
1. Name 3 methods you learned in this project. The method can be either the optimization done by the database system, or the fine tuning done by the user.
2. For each method, summarize how and why it can optimize query performance. Feel free to discuss any drawbacks, if applicable.

Your answer should be no longer than ten sentences. Each method identification/discussion is 2 points.

1. Adding indexes helps with filtering and MIN(), MAX() operators. Index helps the database engine find the data faster, so when performing filtering on one single exact data, in AND statements, it will push down the predicates and reduce the number of operations done by removing irrelavent rows. Similarly, index can be befinicial when finding min or max on the indexed column, but not COUNT() or AVG(). Additionally, indexing on one column does not affect OR statements, so we need to consider multipleindex. This also comes with the cost of index management that it will be expensive when more data comes in later on.
2. Clustered index will help with filtering on a range of data. Unlike normal index, clusered index will rearrange the affected column, so filtering on a large range of data will hugely benefit from this ordered database. Cost of management also has to be considered.
3. When it comes to joining tables, hash joins and merge-joins perform well on equi-joining tables, and nested loops are utilized on non-equijoining tables. Also, nested-loops are optimal when one of the relation is much smaller. Moreover, merge-joins are mostly used when the output needs to be sorted, and hash-joins are suitable for large database.

<!-- END QUESTION -->

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Congratulations! You have finished Project 2.

Run the following cell to zip and download the results of your queries. You will also need to run the export cell at the end of the notebook.

**Please save your notebook before exporting (this is a good time to do it!)** Otherwise, we may not be able to register your written responses.

**For submission on Gradescope, you will need to submit BOTH the `proj2.zip` file generated by the export cell and the `results.zip` file generated by the following cell.**

**Common submission issues:** You MUST submit the generated zip files (not folders) to the autograder. However, Safari is known to automatically unzip files upon downloading. You can fix this by going into Safari preferences, and deselect the box with the text "Open safe files after downloading" under the "General" tab. If you experience issues with downloading via clicking on the link, you can also navigate to the project 2 directory within JupyterHub (remove `proj2.ipynb` from the url), and manually download the generated zip files. Please post on Ed if you encounter any other submission issues.

In [147]:
grading_util.prepare_submission_and_cleanup()  # builds results.zip

In [148]:
# Close SQL magic connection
# You may disregard "RunTimeError: Could not close connection"
# %sql --close postgresql://127.0.0.1:5432/baseball

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [149]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True, files=['results.zip'])

/srv/conda/envs/notebook/lib/python3.11/site-packages/nbconvert/utils/pandoc.py:51: RuntimeWarning: You are using an unsupported version of pandoc (2.12).
Your version must be at least (2.14.2) but less than (4.0.0).
Refer to https://pandoc.org/installing.html.
Continuing with doubts...
  check_pandoc_version()

Running your submission against local test cases...



Your submission received the following results when run against available test cases:

    q0 results: All test cases passed!

    q1a results: All test cases passed!

    q1bi results: All test cases passed!

    q1bii results: All test cases passed!

    q2a results: All test cases passed!

    q2bi results: All test cases passed!

    q2bii results: All test cases passed!

    q2biii results: All test cases passed!

    q2c results: All test cases passed!

    q2di results: All test cases passed!

    q3a results: All test cases passed!

    q3b results: All test cases passed!

    q4a results: All test cases passed!

    q4b results: All test cases passed!

    q4c results: All test cases passed!

    q5a results: All test cases passed!

    q5b results: All test cases passed!

    q5c results: All test cases passed!

    q5d results: All test cases passed!

    q6a results: All test cases passed!

    6a_cost results: All test cases passed!

    q6b results: All test cases passed!

    6b_cost results: All test cases passed!

    q6c results: All test cases passed!

    q6d results: All test cases passed!

    q6e results: All test cases passed!

    q7a_min results: All test cases passed!

    q7a_avg results: All test cases passed!

    q7b results: All test cases passed!

    q8a results: All test cases passed!

    8a_cost results: All test cases passed!

    q8b results: All test cases passed!

    q8c results: All test cases passed!

    q8d results: All test cases passed!

    q9a results: All test cases passed!

    q9b results: All test cases passed!